{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>El Mejor Jugador</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatibus nisi earum possimus ab corrupti
            aliquid aspernatur, commodi exercitationem. Dolorum nam placeat eaque aspernatur dolor quo incidunt laborum
            blanditiis iusto.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, repudiandae neque ratione illum maxime
            culpa perferendis natus accusamus enim, ipsam nam veritatis consequatur doloremque saepe. Aliquam,
            repellendus? Ipsa, nostrum optio.</p>

    </div>
    <div class="col-4">
        <img src="/assets/img/lebrom.png" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}